<div class="title">
  <h2>Events for</h2>
  <h3>{{ date | date:'MMMM yyyy': 'en' }}</h3>
</div>

<div class="btn-group btn-switch">
  <button class="btn btn-prev" (click)="prevMonth()">Previous</button>
  <button class="btn btn-now" (click)="now()">Now</button>
  <button class="btn btn-next" (click)="nextMonth()">Next</button>
</div>

<div class="col-lg-8 col-md-8">
  <table class="calendar">
    <thead>
    <tr>
      <th class="day-of-week">Monday</th>
      <th class="day-of-week">Tuesday</th>
      <th class="day-of-week">Wednesday</th>
      <th class="day-of-week">Thursday</th>
      <th class="day-of-week">Friday</th>
      <th class="day-of-week">Saturday</th>
      <th class="day-of-week">Sunday</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let week of weeks; let weekIdx = index">
      <td *ngFor="let day of week" class="day-of-month" [ngClass]="{'bg-primary': day.hasEvent}">
          <span class="day-number">{{ day.date | date:'d' }}</span>
          <button (click)="openModalContent(weekIdx, day)" class="btn-add">Add event</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
